<%# ヘッダー %>
<%= render "shared/header1" %>

<div class='form-edit-registrations'>
  <div class='form-edit-registration'>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <% if @user.errors.any? %>
      <% end %>

      <%# タイトル %>
      <h1 class="registration-title">
        ユーザー情報の変更
      </h1>

      <%# ニックネーム %>
      <div class="field-devise">
        <%# ラベル %>
        <div class="field-devise-label">
          <%= f.label :nickname, "ニックネーム（6文字以下）", class:"devise-label" %>
        </div>
        <%# フォーム %>
        <div class="field-devise-form-box">
          <%= f.text_field :nickname, autofocus: true, class:"devise-form-box", maxlength: "6" %>
        </div>
        <%# エラーメッセージ %>
        <% if @user.errors.include?(:nickname) %>
          <div class="field-errors">
            <%= @user.errors.full_messages_for(:nickname).first %>
          </div>
        <% end %>
      </div>

      <%# メールアドレス %>
      <div class="field-devise">
        <%# ラベル %>
        <div class="field-devise-label">
          <%= f.label :email, "メールアドレス", class:"devise-label" %>
        </div>
        <%# フォーム %>
        <div class="field-devise-form-box">
          <%= f.email_field :email, class:"devise-form-box" %>
        </div>
        <%# エラーメッセージ %>
        <% if @user.errors.include?(:email) %>
          <div class="field-errors">
            <%= @user.errors.full_messages_for(:email).first %>
          </div>
        <% end %>
      </div>

      <%# 変更後のパスワード %>
      <div class="field-devise">
        <%# ラベル %>
        <div class="field--deviselabel">
          <%= f.label :password, "変更後のパスワード（6文字以上）", class:"devise-label" %>
        </div>
        <%# フォーム %>
        <div class="field-devise-form-box">
          <%= f.password_field :password, autocomplete: "off", class:"devise-form-box" %>
        </div>
        <%# エラーメッセージ %>
        <% if @user.errors.include?(:password) %>
          <div class="field-errors">
            <%= @user.errors.full_messages_for(:password).first %>
          </div>
        <% end %>
      </div>

      <%# 変更後のパスワード（確認用） %>
      <div class="field-devise">
        <%# ラベル %>
        <div class="field-devise-label">
          <%= f.label :password_confirmation, "変更後のパスワード（確認用）", class:"devise-label" %>
        </div>
        <%# フォーム %>
        <div class="field-devise-form-box">
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"devise-form-box" %>
        </div>
        <%# エラーメッセージ %>
        <% if @user.errors.include?(:password_confirmation) %>
          <div class="field-errors">
            <%= @user.errors.full_messages_for(:password_confirmation).first %>
          </div>
        <% end %>
      </div>

      <%# 現在のパスワード %>
      <div class="field-devise">
        <%# ラベル %>
        <div class="field-devise-label">
          <%= f.label :current_password, "現在のパスワード", class:"devise-label" %>
        </div>
        <%# フォーム %>
        <div class="field-devise-form-box">
          <%= f.password_field :current_password, autocomplete: "off", class:"devise-form-box" %>
        </div>
        <%# エラーメッセージ %>
        <% if @user.errors.include?(:current_password) %>
          <div class="field-errors">
            <%= @user.errors.full_messages_for(:current_password).first %>
          </div>
        <% end %>
      </div>

      <%# 送信ボタン %>
      <div class="field-devise-form-btn">
        <%= f.submit "変更", class:"form-btn registration-btn"  %>
      </div>
      
    <% end %>
  </div>
</div>