<header>
  <div class="header-back header-item">
    <%= link_to "＜", 'javascript:history.back()', class: "header-back-btn" %>
  </div>

  <div class="header-title header-item">
    <p class="header-title-item">ユーザー情報の編集</p>
  </div>

  <div class="header-content header-item">
  </div>
</header>

<div class='form-registration'>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class="field">
      <%= f.label :nickname, "ニックネーム（6文字以下）", class:"label" %><br />
      <%= f.text_field :nickname, autofocus: true, class:"form-box", maxlength: "6" %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス", class:"label" %><br />
      <%= f.email_field :email, class:"form-box" %>
    </div>

    <div class="field">
      <%= f.label :password, "変更後のパスワード", class:"label" %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-box" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "変更後のパスワード（確認用）", class:"label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-box" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "現在のパスワード", class:"label" %><br />
      <%= f.password_field :current_password, class:"form-box" %>
    </div>
    
    <%= f.submit "変　更", class:"form-btn"  %>
  <% end %>
</div>