<div class='form-registration'>
<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <h1>アカウント作成</h1>

  <div class="field">
    <%= f.label :nickname, "ニックネーム（6文字以下）", class:"label" %><br />
    <%= f.text_field :nickname, autofocus: true, class:"form-box", maxlength: "6" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス", class:"label" %><br />
    <%= f.email_field :email, class:"form-box" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード", class:"label" %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-box" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード（確認用）", class:"label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-box" %>
  </div>
  <%= f.submit "登　録", class:"form-btn"  %>
  <% end %>
</div>