<%= render "shared/header1" %>

<div class="form-task">
  <%= form_with(model: @tweet, local: true) do |f| %>
    <% if @tweet.errors.any? %>
    <% end %>

    <%# タイトル %>
    <h1 class="task-create-title">
      タスク編集
    </h1>

    <%# タスク名 %>
    <div class="field-task">
      <%# ラベル %>
      <div class="field-task-label">
        <%= f.label :task, "タスク名", class:"task-label" %>
      </div>
      <%# フォーム %>
      <div class="field-task-form-box">
        <%= f.text_field :task, class:"task-form-box" %>
      </div>
      <%# エラーメッセージ %>
      <% if @tweet.errors.include?(:task) %>
        <div class="field-errors">
          <%= @tweet.errors.full_messages_for(:task).first %>
        </div>
      <% end %>
    </div>

    <%# ジャンル %>
    <div class="field-task">
      <%# ラベル %>
      <div class="field-task-label">
        <%= f.label :category_id, "ジャンル", class:"task-label" %>
      </div>
      <%# セレクトボックス %>
      <div class="field-task-form-box">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"task-select-box"}) %>
      </div>
      <%# エラーメッセージ %>
      <% if @tweet.errors.include?(:category_id) %>
        <div class="field-errors">
          <%= @tweet.errors.full_messages_for(:category_id).first %>
        </div>
      <% end %>
    </div>

    <%# 開始時間 %>
    <div class="field-time-task">
      <%# ラベル %>
      <div class="field-task-label">
        <%= f.label :start_hour_id, "開始時間", class:"task-label" %>
      </div>
      <%# セレクトボックス %>
      <div class="field-time-form-box">
        <%= f.collection_select(:start_hour_id, StartHour.all, :id, :name, {}, {class:"task-select-box "}) %>
        <%= f.collection_select(:start_minute_id, StartMinute.all, :id, :name, {}, {class:"task-select-box"}) %>
      </div>
      <%# エラーメッセージ %>
      <% if @tweet.errors.include?(:start_hour_id) %>
        <div class="field-errors">
          <%= @tweet.errors.full_messages_for(:start_hour_id).first %>
        </div>
      <% end %>
      <% if @tweet.errors.include?(:start_minute_id) %>
        <div class="field-errors">
          <%= @tweet.errors.full_messages_for(:start_minute_id).first %>
        </div>
      <% end %>
    </div>

    <%# 終了時間 %>
    <div class="field-time-task">
      <%# ラベル %>
      <div class="field-task-label">
        <%= f.label :end_hour_id, "開始時間", class:"task-label" %>
      </div>
      <%# セレクトボックス %>
      <div class="field-time-form-box">
        <%= f.collection_select(:end_hour_id, EndHour.all, :id, :name, {}, {class:"task-select-box"}) %>
        <%= f.collection_select(:end_minute_id, EndMinute.all, :id, :name, {}, {class:"task-select-box"}) %>
      </div>
      <%# エラーメッセージ %>
      <% if @tweet.errors.include?(:end_hour_id) %>
        <div class="field-errors">
          <%= @tweet.errors.full_messages_for(:end_hour_id).first %>
        </div>
      <% end %>
      <% if @tweet.errors.include?(:end_minute_id) %>
        <div class="field-errors">
          <%= @tweet.errors.full_messages_for(:end_minute_id).first %>
        </div>
      <% end %>
    </div>

    <%# 詳細 %>
    <div class="field-details-task">
      <%# ラベル %>
      <div class="field-task-label">
        <%= f.label :detalis, "詳細", class:"task-label" %>
      </div>
      <%# フォーム %>
      <div class="field-task-details-form-box">
        <%= f.text_area :detalis, class:"task-details-form-box" %>
      </div>
    </div>

    <%# 送信ボタン %>
    <div class="field-task-form-btn">
      <%= f.submit "変更", class:"form-btn task-btn"  %>
    </div>

  <% end %>
</div>