<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post">
      <p><%= tweet.task_1 %></p>
      <p><%= tweet.start_time_1.name %><%= tweet.end_time_1.name %></p>
      <span class="name">
        <%= tweet.detalis_1 %>
      </span>

    </div>
    <div class="content_post">
      <p><%= tweet.task_2 %></p>
      <p><%= tweet.start_time_2.name %><%= tweet.end_time_2.name %></p>
      <span class="name">
        <%= tweet.detalis_2 %>
      </span>
    </div>

    <div class="content_post">
      <p><%= tweet.task_3 %></p>
      <p><%= tweet.start_time_3.name %><%= tweet.end_time_3.name %></p>
      <span class="name">
        <%= tweet.detalis_3 %>
      </span>
    </div>
  <% end %>
</div>