<%# ヘッダー %>
<header>
  <%# ユーザー情報 %>
  <div class="header-item">
    <% if user_signed_in? %>
      <div class="header-user-image">
        <% if current_user.image.attached? %>
          <%= link_to image_tag(current_user.image, class: "user-image"), user_path(current_user.id) %>
        <% else %>
          <%= link_to image_tag('user.png', class: "user-image"), user_path(current_user.id) %>
        <% end %>
      </div>
      <%= link_to current_user.nickname, user_path(current_user.id), method: :get, class: "header-user-nickname" %>
    <% end %>
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      ホーム
    </div>
  </div>
  <%# タスク作成 %>
  <div class="header-item">
    <div class="header-right">
      <% if user_signed_in? %>
        <%= link_to "タスク作成", new_tweet_path, class: "task-create" %>
      <% end %>
    </div>
  </div>
</header>

<div class="flash">
  <%= render partial: 'shared/flash' %>
</div>

<div class="content">
  <div class="achievement-ranks">
    <%= render partial: 'shared/achievement_ranking', locals: { achievement_ranking: @achievement_ranking }  %>
  </div>

  <div class="tweets">
    <% @follow_tweets.each do |tweet| %>
      <%= render partial: 'shared/tweet1', locals: { tweet: tweet }  %>
    <% end %>
  </div>
</div>

<footer>
  <div class="footer-title">
      <%= link_to "ホーム", tweets_path, class: "footer-title-item-current" %>
      <%= link_to "検索", categories_path, class: "footer-title-item" %>
      <%= link_to "朝活タスク", task_user_path(current_user.id), method: :get, class: "footer-title-item" %>
      <%= link_to "記録", record_user_path(current_user.id), class: "footer-title-item" %>
  </div>
</footer>