<header>　　
  <div class="header-back header-item">
    <%= link_to "＜", :back, class: "header-back-btn" %>
  </div>

  <div class="header-title header-item">
    <p class="header-title-item">投稿ページ</p>
  </div>

  <div class="header-content header-item">
  </div>
</header>

<div class="container">
  <h1>投 稿</h1>
  <%= form_with(model: @tweet, local: true) do |form| %>
  <div class="task-item">
    <div class="task-form">
      <span class="task-title">タスク名</span>
      <%= form.text_field :task, class:"task-box" %>
    </div>
    <div class="time-form">
    　<span class="time-title">開始時間</span>
      <div class="time-box">
        <%= form.collection_select(:start_hour_id, StartHour.all, :id, :name, {}, {class:"select-box"}) %>
        <%= form.collection_select(:start_minute_id, StartMinute.all, :id, :name, {}, {class:"select-box"}) %>
      </div>
      <span class="time-title">終了時間</span>
      <div class="time-box">
        <%= form.collection_select(:end_hour_id, EndHour.all, :id, :name, {}, {class:"select-box"}) %>
        <%= form.collection_select(:end_minute_id, EndMinute.all, :id, :name, {}, {class:"select-box"}) %>
      </div>  
    </div>
    <div class="detalis-form">
    　<span class="detalis-title">詳細</span>
      <%= form.text_area :detalis, class:"detalis-box" %>
    </div>
  </div>
  <div class="submit-form">
    <%= form.submit "投 稿", class:"submit-btn" %>
  </div>
  <% end %>
</div>