<header>
  <div class="header-back header-item">
    <%= link_to "＜", tweets_path, class: "header-back-btn" %>
  </div>

  <div class="header-title header-item">
    <p class="header-title-item">詳細ページ</p>
  </div>

  <div class="header-content header-item">
  </div>
</header>

<div class="tweets">
  <div class="content">
    <div class="tweet-content">

      <div class="task">
        <%# ユーザー情報 %>
        <div class="user-content">
          <% if user_signed_in? %>
            <div class="tweet-user-image"><%= link_to image_tag('user.png', class: "user-image"), user_path(@tweet.user_id) %></div>
            <%= link_to @tweet.user.nickname, user_path(@tweet.user_id), method: :get, class: "user-nickname" %>
          <% end %>
        </div>
        <%# タスク情報 %>
        <div class="task-content">
          <div class="task-image">
            <span><%= image_tag 'ranning.jpg', class:"task-content-image" %></span>
          </div>
          <div class="task-item">
            <span class="task-title"><%= @tweet.task %></span>
            <div class="task-time">
              <%= image_tag 'time.png', class:"time-image" %>
              <span class="task-item-time"><%= @tweet.start_hour.name %>:<%= @tweet.start_minute.name %> 〜 <%= @tweet.end_hour.name %>:<%= @tweet.end_minute.name %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="more">
        <%# サイドバー %>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <div class="side-list"><%= '…' %></div>
        <%# サイドバーリスト %>
          <ul class="tweet-side-lists">
            <li>
              <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get, class:"tweet-side-list" %>
            </li>
            <li>
              <%= link_to '削除', tweet_path(@tweet.id), method: :delete, class:"tweet-side-list" %>
            </li>
          </ul>
        <% end %>
        </div>
      </div>

      <div class="datalis">
        <span class="detalis-item"><%= @tweet.detalis %></span>
      </div>

      <div class="sub-content">

        <div id="tweet_<%= @tweet.id %>">
          <%= render partial: 'favorites/favorite', locals: { tweet: @tweet}  %>
        </div>

        <div class="achievement">
          <% if @tweet.user.already_achieved?(@tweet) %>
            <span class="achieved-display"><i class="fa fa-star-o"> 達成済み</i></span>
          <% end %>
        </div>

      </div>

      <div class="day">
        <span><%= @tweet.updated_at.strftime("%m月%d日 %H:%M") %></span>
      </div>
    </div>
    <div class="comments">
      <h4>コメント一覧</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment-content">
            <div class="comment-user-image"><%= link_to image_tag('user.png', class: "user-image"), user_path(comment.user_id) %></div>
            <div class="comment-user-content">
              <%= link_to comment.user.nickname, user_path(comment.user_id), class: "comment-user-name" %>
              <div class="comment-user-text">
                <div><%= comment.text %></div>
                <div class="comment-user-text-time"><%= comment.updated_at.strftime("%m月%d日 %H:%M") %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= form_with(model: [@tweet, @comment], local: true) do |form| %>
  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form.text_area :text, placeholder: "コメントする", class:"comment-text" %>
      <%= form.submit "送信", class:"comment-btn" %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
<% end %>