<%# ヘッダー %>
<header>
  <%# 戻るボタン %>
  <div class="header-item">
    <%= link_to "＜", tweets_path, class: "header-back-btn" %>
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      詳細ページ
    </div>
  </div>
  <%# 空欄 %>
  <div class="header-item">
  </div>
</header>

<div class="flash">
  <%= render partial: 'shared/flash' %>
</div>

<div class="show-tweets">
  <%# 各投稿全体 %>
  <%= render partial: 'shared/tweet2', locals: { tweet: @tweet }  %>
  
  <%# コメント全体 %>
  <div class="comments">
    <%# コメントタイトル %>
    <h4>
      コメント一覧
    </h4>
    <%# コメント一覧 %>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <%# コメント情報 %>
        <div class="comment-content">
          <%# ユーザー画像 %>
          <div class="comment-user-image">
            <% if comment.user.image.attached? %>
              <%= link_to image_tag(comment.user.image, class: "user-image"), user_path(comment.user.id) %>
            <% else %>
              <%= link_to image_tag('user.png', class: "user-image"), user_path(comment.user.id) %>
            <% end %>
          </div>
          <%# 各コメント %>
          <div class="comment-user-content">
            <%# ニックネーム %>
            <%= link_to comment.user.nickname, user_path(comment.user_id), class: "comment-user-name" %>
            <%# コメント内容・時間 %>
            <div class="comment-user-text">
              <%# コメント内容 %>
              <div>
                <%= comment.text %>
              </div>
              <%# コメント時間 %>
              <div class="comment-user-text-time">
                <%= comment.updated_at.strftime("%m月%d日 %H:%M") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<%# コメントフォーム情報 %>
<%= form_with(model: [@tweet, @comment], local: true) do |form| %>
  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form.text_area :text, placeholder: "コメントする", class:"comment-text" %>
      <%= form.submit "送信", class:"comment-btn" %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
<% end %>