<%# ヘッダー %>
<header>
  <%# 空欄 %>
  <div class="header-item">
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      記録
    </div>
  </div>
  <%# 空欄 %>
  <div class="header-item">
  </div>
</header>

<div class="records">

  <%# タスク数・達成数・達成時間計・達成数のグラフ %>
  <div class="record-contents">

    <%# タスク数 %>
    <div class="record-content">
      <div class="record-content-title">
        タスク数
      </div>
      <div class="record-content-num">
        <%= @tweets.count %>
      </div>
    </div>

    <%# 達成数 %>
    <div class="record-content">
      <div class="record-content-title">
        達成数
      </div>
      <div class="record-content-num">
        <%= @user.achievements.count %>
      </div>
    </div>

    <%# 達成時間計 %>
    <div class="record-content">
      <div class="record-content-title">
        達成時間計
      </div>
      <div class="record-content-num">
        <%= @time_sum %><span> h</span>
      </div>
    </div>

  </div>
  
  <%# 達成数のグラフ %>
  <div class="record-achievement-graph">
    <div class="record-achievement-graph-title">1週間の達成数</div>
    <%= column_chart @week_achievement, width: "70vw", max: 10, discrete: true  %>
  </div>

</div>

<%# フッダー %>
<footer>
  <div class="footer-title">
      <%= link_to "ホーム", tweets_path, class: "footer-title-item" %>
      <%= link_to "検索", categories_path, class: "footer-title-item" %>
      <%= link_to "朝活タスク", task_user_path(current_user.id), method: :get, class: "footer-title-item" %>
      <%= link_to "記録", record_user_path(current_user.id), class: "footer-title-item-current" %>
  </div>
</footer>