<header>　　
  <div class="header-back header-item">
    <%= link_to "＜", root_path, class: "header-back-btn" %>
  </div>

  <div class="header-title header-item">
    <p class="header-title-item"><%= @user.nickname %>のマイページ</p>
  </div>

  <div class="header-content header-item">
  </div>
</header>

<div class="profile">
  <% if user_signed_in? %>
  <div class="profile-icon">
    <%= image_tag 'user.png', class:"profile-icon-image" %>
  </div>
  <div class="profile-name">
     <span><%= @user.nickname %></span>
  </div>
　
　<div class="follow-btn">
    <%= render 'relationships/follow_btn', user: @user %>
  </div>

  <div class="profile-item">
    <div class="tweets-content">
      <span class="tweets-title"><%= "投稿数" %></span>
      <span class="tweets-number"><%= @tweets.length %></span>
    </div>
    <div class="tweets-content">
      <%= link_to "フォロー", following_user_path(@user.id), class: "frollow-title" %>
      <span class="rollow-number"><%= @user.followings.count %></span>
    </div>
    <div class="tweets-content">
      <%= link_to "フォロワー", followers_user_path(@user.id), class: "frollow-title" %>
      <span class="follower-number"><%= @user.followers.count %></span>
    </div>
  </div>
  <% end %>
</div>

<div class="profile-tweets">
  <% @tweets.each do |tweet| %>
    <div class="content">

      <div class="tweet-content">
        <div class="task">
          <%# ユーザー情報 %>
          <div class="user-content">
          <% if user_signed_in? %>
            <%= image_tag 'user.png', class:"user-image" %>
            <%= link_to tweet.user.nickname, user_path(tweet.user_id), method: :get, class: "user-nickname" %>
          <% end %>
          </div>
　　　　　　<%# タスク情報 %>
        　<div class="task-content">
            <div class="task-image">
              <span><%= image_tag 'ranning.jpg', class:"task-content-image" %></span>
            </div>
            <div class="task-item">
              <span class="task-title"><%= tweet.task %></span>
              <div class="task-time">
                <%= image_tag 'time.png', class:"time-image" %>
                <span class="task-item-time"><%= tweet.start_hour.name %>:<%= tweet.start_minute.name %> 〜 <%= tweet.end_hour.name %>:<%= tweet.end_minute.name %></span>
              </div>
            </div>
          </div>
        </div>

        <div class="more">
          <%# サイドバー %>
          <div class="side-list"><%= '…' %></div>
          <%# サイドバーリスト %>
            <ul class="tweet-side-lists">
              <li>
                <%= link_to '詳細', tweet_path(tweet.id), method: :get, class:"tweet-side-list" %>
              </li>
              <% if user_signed_in? && current_user.id == tweet.user_id %>
                <li>
                  <%= link_to '編集', edit_tweet_path(tweet.id), method: :get, class:"tweet-side-list" %>
                </li>
                <li>
                  <%= link_to '削除', tweet_path(tweet.id), method: :delete, class:"tweet-side-list" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      <div class="datalis">
        <span class="detalis-item"><%= tweet.detalis %></span>
      </div>

      <div class="day">
        <span><%= tweet.updated_at.strftime("%m月%d日 %H:%M") %></span>
      </div>

    </div>
  <% end %>
</div>