<%# ヘッダー %>
<header>
  <%# 戻るボタン %>
  <div class="header-item">
    <%= link_to "＜", tweets_path, class: "header-back-btn" %>
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      <%= @user.nickname %>のマイページ
    </div>
  </div>
  <%# ユーザー編集・ログアウト %>
  <div class="header-item">
    <div class="hamburger-menu">
      <input type="checkbox" id="menu-btn-check">
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
      <div class="menu-content">
        <ul>
          <% if user_signed_in? && current_user.id == @user.id %>
            <li><%= link_to 'ユーザー編集', edit_user_registration_path(@user.id), method: :get, class: "header-right-nav-list" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-right-nav-list" %></li>
          <% end %>
        </ul>
      </div>   
    </div>
  </div>
</header>

<%# ユーザー情報 %>
<div class="profile">
  <%# ユーザーアイコン %>
  <div class="profile-icon">
    <%= image_tag 'user.png', class:"profile-icon-image" %>
  </div>
  <%# ユーザー名 %>
  <div class="profile-name">
     <span><%= @user.nickname %></span>
  </div>
  <%# フォローボタン %>
  <div class="follow-btn">
    <div id="follow-btn_<%= @user.id %>">
      <% if user_signed_in? %>
        <%= render partial: 'relationships/follow_btn', locals: { user: @user } %>
      <% end %>
    </div>
  </div>
  <%# 投稿数・フォロー数・フォロワー数 %>
  <div class="profile-item">
    <%# 投稿数 %>
    <div class="tweets-content">
      <span class="tweets-title"><%= "投稿数" %></span>
      <span class="tweets-number"><%= @tweets.length %></span>
    </div>
    <%# フォロー数 %>
    <div class="tweets-content">
      <%= link_to "フォロー", following_user_path(@user.id), class: "follow-title" %>
      <div id="follow-number_<%= @user.id %>">
        <span class="follow-number"><%= @user.followings.count %></span>
      </div>
    </div>
    <%# フォロワー数 %>
    <div class="tweets-content">
      <%= link_to "フォロワー", followers_user_path(@user.id), class: "follow-title" %>
      <div id="follower-number_<%= @user.id %>">
        <span class="follower-number"><%= @user.followers.count %></span>
      </div>
    </div>
  </div>
</div>

<%# 投稿情報 %>
<div class="profile-tweets">
  <% @tweets.each do |tweet| %>
    <%# 各投稿全体 %>
    <%= render partial: 'shared/tweet1', locals: { tweet: tweet }  %>
  <% end %>
</div>