<header>
  <div class="header-back header-item">
    <%= link_to "＜", tweets_path, class: "header-back-btn" %>
  </div>

  <div class="header-title header-item">
    <p class="header-title-item"><%= @user.nickname %>のマイページ</p>
  </div>

  <div class="header-content header-item">
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to '編集', edit_user_registration_path(@user.id), method: :get, class: "user-edit" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-logout" %>
    <% end %>
  </div>
</header>

<div class="profile">
  <div class="profile-icon">
    <%= image_tag 'user.png', class:"profile-icon-image" %>
  </div>
  <div class="profile-name">
     <span><%= @user.nickname %></span>
  </div>
  
  <div class="follow-btn">
    <div id="follow-btn_<%= @user.id %>">
      <% if user_signed_in? %>
        <%= render partial: 'relationships/follow_btn', locals: { user: @user } %>
      <% end %>
    </div>
  </div>

  <div class="profile-item">
    <div class="tweets-content">
      <span class="tweets-title"><%= "投稿数" %></span>
      <span class="tweets-number"><%= @tweets.length %></span>
    </div>
    <div class="tweets-content">
      <%= link_to "フォロー", following_user_path(@user.id), class: "frollow-title" %>
      <div id="follow-number_<%= @user.id %>">
        <span class="follow-number"><%= @user.followings.count %></span>
      </div>
    </div>
    <div class="tweets-content">
      <%= link_to "フォロワー", followers_user_path(@user.id), class: "frollow-title" %>
      <div id="follower-number_<%= @user.id %>">
        <span class="follower-number"><%= @user.followers.count %></span>
      </div>
    </div>
  </div>
</div>

<div class="profile-tweets">
  <% @tweets.each do |tweet| %>
    <%# 各投稿全体 %>
    <div class="tweet">

      <%# タスク全体 %>
      <div class="tweet-content">
        <%# ユーザー情報・タスク情報 %>
        <div class="task">
          <%# ユーザー情報 %>
          <div class="user-content">
            <%# ユーザー画像 %>
            <div class="tweet-user-image">
              <%= link_to image_tag('user.png', class: "user-image"), user_path(tweet.user_id) %>
            </div>
            <%# ニックネーム %>
            <%= link_to tweet.user.nickname, user_path(tweet.user_id), method: :get, class: "user-nickname" %>
            <%# ジャンル %>
            <div class="category-content">
              <%= tweet.category.name %>
            </div>
          </div>
          <%# タスク情報 %>
          <div class="task-content">
            <%# タスク画像 %>
            <div class="task-image">
              <span><%= image_tag 'ranning.jpg', class:"task-content-image" %></span>
            </div>
            <%# タスク名・タスク時間 %>
            <div class="task-item">
              <%# タスク名 %>
              <div class="task-title">
                <%= tweet.task %>
              </div>
              <%# タスク時間 %>
              <div class="task-time">
                <%= image_tag 'time.png', class:"time-image" %>
                <div class="task-item-time">
                  <%= tweet.start_hour.name %>:<%= tweet.start_minute.name %> 〜 <%= tweet.end_hour.name %>:<%= tweet.end_minute.name %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# サイドメニュー情報 %>
        <div class="more">
          <%# サイドバー %>
          <div class="side-list">
            <%= '…' %>
          </div>
          <%# サイドバーリスト %>
          <ul class="tweet-side-lists">
            <li>
              <%= link_to '詳細', tweet_path(tweet.id), method: :get, class:"tweet-side-list" %>
            </li>
            <% if user_signed_in? && current_user.id == tweet.user_id %>
              <li>
                <%= link_to '編集', edit_tweet_path(tweet.id), method: :get, class:"tweet-side-list" %>
              </li>
              <li>
                <%= link_to '削除', tweet_path(tweet.id), method: :delete, class:"tweet-side-list" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%# 詳細情報 %>
      <div class="datalis">
        <span class="detalis-item"><%= tweet.detalis %></span>
      </div>

      <%# いいね情報・達成情報 %>
      <div class="sub-content">
        <%# いいね情報 %>
        <div id="tweet_<%= tweet.id %>">
          <%= render partial: 'favorites/favorite', locals: { tweet: tweet}  %>
        </div>
        <%# 達成情報 %>
        <div class="achievement">
          <% if tweet.user.already_achieved?(tweet) %>
            <span class="achieved-display"><i class="fa fa-star-o"> 達成済み</i></span>
          <% end %>
        </div>
      </div>

      <%# 投稿時間情報 %>
      <div class="day">
        <span><%= tweet.updated_at.strftime("%m月%-d日 %H:%M") %></span>
      </div>

    </div>
  <% end %>
</div>