<%# ヘッダー %>
<header>
  <%# 空欄 %>
  <div class="header-item">
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      朝活タスク
    </div>
  </div>
  <%# 空欄 %>
  <div class="header-item">
  </div>
</header>

<div class="morning-task">
  <%# 今日の日付 %>
  <div class="today">
    <%= @today %>
  </div>
  <%# 今日のタスク一覧 %>
  <% @tweets.each do |tweet| %>
    <% if @today == tweet.updated_at.strftime("%-m月%-d日") %>
      <div class="tasks">
        <div class="today-tasks">
          <div class="today-task">
            <span class="today-task-title"><%= tweet.task %></span>
          </div>
          <div class="today-task-time">
            <span><%= tweet.start_hour.name %>:<%= tweet.start_minute.name %> 〜 <%= tweet.end_hour.name %>:<%= tweet.end_minute.name %></span>
          </div>
          <div class="today-details">
            <span><%= tweet.detalis %></span>
          </div>
          <div id="tweet_<%= tweet.id %>">
            <%= render partial: 'achievements/achievement', locals: { tweet: tweet}  %>
          </div>
        </div>
        <div class="today-more">
          <%# サイドバー %>
          <div class="side-list"><%= '…' %></div>
          <%# サイドバーリスト %>
          <ul class="tweet-side-lists">
            <li>
              <%= link_to '編集', edit_tweet_path(tweet.id), method: :get, class:"tweet-side-list" %>
            </li>
            <li>
              <%= link_to '削除', tweet_path(tweet.id), method: :delete, class:"tweet-side-list" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<%# フッダー %>
<footer>
  <div class="footer-title">
      <%= link_to "ホーム", tweets_path, class: "footer-title-item" %>
      <%= link_to "検索", categories_path, class: "footer-title-item" %>
      <%= link_to "朝活タスク", task_user_path(current_user.id), method: :get, class: "footer-title-item-current" %>
      <%= link_to "記録", record_user_path(current_user.id), class: "footer-title-item" %>
  </div>
</footer>