<header>　　
  <div class="header-back header-item">
    <%= link_to "＜", :back, class: "header-back-btn" %>
  </div>

  <div class="header-title header-item">
    <p class="header-title-item">朝活タスク</p>
  </div>

  <div class="header-content header-item">
  </div>
</header>

<div class="morning-task">

  <div class="today">
    <%= @today %>
  </div>

  <% @tweets.each do |tweet| %>
    <% if @today == tweet.updated_at.strftime("%m月%-d日") %>
      <div class="today-tasks">
    　　 <div class="today-task">
          <span class="today-task-title"><%= tweet.task %></span>
        </div>
        <div class="today-task-time">
          <span><%= tweet.start_hour.name %>:<%= tweet.start_minute.name %> 〜 <%= tweet.end_hour.name %>:<%= tweet.end_minute.name %></span>
        </div>
        <div class="today-details">
          <span><%= tweet.detalis %></span>
        </div>
        <div id="tweet_<%= tweet.id %>">
          <%= render partial: 'achievements/achievement', locals: { tweet: tweet}  %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<%= render "shared/footer" %>