<header>　　
  
  <div class="header-user header-item">
    <%= image_tag 'user.png', class:"user-image" %>
    <%= link_to current_user.nickname, user_path(current_user.id), method: :get, class: "header-user-nickname" %>
  </div>

  <div class="header-title header-item">
    <%= link_to "ホーム", root_path, class: "header-title-item" %>
  </div>

  <div class="header-content header-item">
  　<% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-content-item" %>
      <%= link_to "投稿", new_tweet_path, class: "header-content-item" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "header-content-item" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header-content-item" %>
    <% end %>
  </div>

</header>