<header>
  <%# ユーザー情報 %>
  <div class="header-item">
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      カテゴリー検索
    </div>
  </div>
  <%# タスク作成 %>
  <div class="header-item">
  </div>
</header>

<div class="category">
  <%= link_to '全ジャンル', categories_path, class:"category-item" %>
  <%= link_to 'トレーニング', training_category_path(@tweets.ids), class:"category-item" %>
  <%= link_to 'ウォーキング', walking_category_path(@tweets.ids), class:"category-item" %>
  <%= link_to '勉強', study_category_path(@tweets.ids), class:"category-item-current" %>
  <%= link_to '健康・美容', health_category_path(@tweets.ids), class:"category-item" %>
  <%= link_to '家事・仕事', housework_category_path(@tweets.ids), class:"category-item" %>
</div>

<div class="category-tweets">
  <% @tweets.each do |tweet| %>
    <%# 各投稿全体 %>
    <div class="tweet">

      <%# タスク全体 %>
      <div class="tweet-content">
        <%# ユーザー情報・タスク情報 %>
        <div class="task">
          <%# ユーザー情報 %>
          <div class="user-content">
            <%# ユーザー画像 %>
            <div class="tweet-user-image">
              <%= link_to image_tag('user.png', class: "user-image"), user_path(tweet.user_id) %>
            </div>
            <%# ニックネーム %>
            <%= link_to tweet.user.nickname, user_path(tweet.user_id), method: :get, class: "user-nickname" %>
            <%# ジャンル %>
            <div class="category-content">
              <%= tweet.category.name %>
            </div>
          </div>
          <%# タスク情報 %>
          <div class="task-content">
            <%# タスク画像 %>
            <div class="task-image">
              <% if tweet.category_id == 2 %>
                <div>
                  <%= image_tag 'training.png', class:"task-content-image" %>
                </div>
              <% elsif tweet.category_id == 3 %>
                <div>
                  <%= image_tag 'running.png', class:"task-content-image" %>
                </div>
              <% elsif tweet.category_id == 4 %>
                <div>
                  <%= image_tag 'study.png', class:"task-content-image" %>
                </div>
              <% elsif tweet.category_id == 5 %>
                <div>
                  <%= image_tag 'kenkou.png', class:"task-content-image" %>
                </div>
              <% else %>
                <div>
                  <%= image_tag 'businessman.gif', class:"task-content-image" %>
                </div>
              <% end %>
            </div>
            <%# タスク名・タスク時間 %>
            <div class="task-item">
              <%# タスク名 %>
              <div class="task-title">
                <%= tweet.task %>
              </div>
              <%# タスク時間 %>
              <div class="task-time">
                <%= image_tag 'time.png', class:"time-image" %>
                <div class="task-item-time">
                  <%= tweet.start_hour.name %>:<%= tweet.start_minute.name %> 〜 <%= tweet.end_hour.name %>:<%= tweet.end_minute.name %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# サイドメニュー情報 %>
        <div class="more">
          <%# サイドバー %>
          <div class="side-list">
            <%= '…' %>
          </div>
          <%# サイドバーリスト %>
          <ul class="tweet-side-lists">
            <li>
              <%= link_to '詳細', tweet_path(tweet.id), method: :get, class:"tweet-side-list" %>
            </li>
            <% if user_signed_in? && current_user.id == tweet.user_id %>
              <li>
                <%= link_to '編集', edit_tweet_path(tweet.id), method: :get, class:"tweet-side-list" %>
              </li>
              <li>
                <%= link_to '削除', tweet_path(tweet.id), method: :delete, class:"tweet-side-list" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%# 詳細情報 %>
      <div class="datalis">
        <span class="detalis-item"><%= tweet.detalis %></span>
      </div>

      <%# いいね情報・達成情報 %>
      <div class="sub-content">
        <%# いいね情報 %>
        <div id="tweet_<%= tweet.id %>">
          <%= render partial: 'favorites/favorite', locals: { tweet: tweet}  %>
        </div>
        <%# 達成情報 %>
        <div class="achievement">
          <% if tweet.user.already_achieved?(tweet) %>
            <span class="achieved-display"><i class="fa fa-star-o"> 達成済み</i></span>
          <% end %>
        </div>
      </div>

      <%# 投稿時間情報 %>
      <div class="day">
        <span><%= tweet.updated_at.strftime("%m月%-d日 %H:%M") %></span>
      </div>

    </div>
  <% end %>
</div>

<%= render "shared/footer" %>