<%# ヘッダー %>
<%= render "shared/header2" %>

<%# ジャンル一覧 %>
<div class="category">
  <%= link_to '全ジャンル', categories_path, class:"category-item" %>
  <%= link_to 'トレーニング', training_categories_path, class:"category-item" %>
  <%= link_to 'ウォーキング', walking_categories_path, class:"category-item-current" %>
  <%= link_to '勉強', study_categories_path, class:"category-item" %>
  <%= link_to '健康・美容', health_categories_path, class:"category-item" %>
  <%= link_to '家事・仕事', housework_categories_path, class:"category-item" %>
</div>

<%# 各投稿全体 %>
<div class="content">
  <div class="category-achievement-ranks">
    <%= render partial: 'shared/achievement_ranking', locals: { achievement_ranking: @achievement_ranking }  %>
  </div>

  <div class="category-tweets">
    <% @tweets.each do |tweet| %>
      <%= render partial: 'shared/tweet1', locals: { tweet: tweet }  %>
    <% end %>
  </div>
</div>

<%# フッダー %>
<%= render "shared/footer" %>