<!DOCTYPE html>
<html>
  <head>
    <title>Asakatu5757</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main"><%= yield %></div>
    
    <footer>
      <a class="footer_nav" href="/">ホーム</a>
      <a class="footer_nav" href="#">タスク</a>
      <a class="footer_nav" href="#">レポート</a>
    </footer>
  </body>
</html>
